@import "reset"

body
  font bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif
  font-family 'Ovo', serif
  overflow none
  -webkit-font-smoothing antialiased

a
  color #F95A5A
  text-decoration none

.clear 
  clear both

section
  top 0
  -webkit-transform-style  preserve-3d
  -webkit-backface-visibility  hidden
  z-index  900
  
#plate_list ul
  span.color
    float right
    color  #DDD
    width 30px
    height 30px
    margin  -7px 30px 0 0 
    border-radius  30px
    
#bill_list ul
  li 
    text-align center
    padding 4px 0 1px 0
    position relative
    
  span.color
    float none
    display inline-block
    color #DDD
    width 30px
    height 30px
    margin 0 0 0 0 
    border-radius  30px

  span.text
    display inline-block
    vertical-align  10px
    color #333
    
  .increment, .decrement
    position absolute
    top 3px
    width 30px
    height 30px
    border-radius  30px
    border  1px solid #333
    font-size 20px
    font-weight 100
    line-height 28px
    
  .increment
    right 10px
    
  .decrement
    left 10px
  
.color.c_ffffff  
  border 1px solid #DDD
  width 33px
  height 33px

.color.c_ffffff.selected
  width 35px
  height 35px
  
.color 
  float left
  width 35px
  height 35px
  border-radius 20px
  margin 5px


.color.selected
  margin 2px
  border 3px solid #000

ul.menu li label
  font-size 22px
  float left
  
ul.menu li input
  -webkit-appearance  none
  border  0
  font-size 22px
  float left
  width  200px
  margin-left 10px
      
.wrapper 
  position relative
  z-index 1
  width 100%
  overflow hidden
    
.bottom
  font-family inherit
  font-weight bold
  color #fff
  text-shadow rgba(0, 0, 0, 0.5) 0px -1px 0
  text-overflow ellipsis
  text-decoration none
  white-space nowrap
  background none
  text-shadow 1px 1px 1px #000

#add, #remove
  position static
  float left
  margin -2px 10px 0 0

#bill, #about
  position static
  float right
  margin -2px 10px 0 0

#back_to_home 
  position absolute
  top auto
  bottom 5px
  right 5px
  
#about_panel
  left  0px
  top  0px
  -webkit-transform  rotateY(-180deg) 
  z-index  800


#about_panel .toolbar 
  position absolute
  bottom 0
  left 0
  width 100%

#about_panel.flip
  z-index  1000
  
#about_panel p 
  margin  10px 20px 6px
  font  normal normal normal 16px/normal Helvetica
  margin  10px 20px 6px
  text-shadow  rgba(255, 255, 255, 0.19)
  
section.flip
  z-index  900
