@import "reset"

body
  font bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif
  font-family 'Ovo', serif
  overflow none
  
a, avisited
  color #F95A5A
  text-decoration none

ahover
  color #665248

.clear 
  clear both
  
#plates

  span
    float right
    color: #DDD
    width 50px
    height 20px
    margin-right:30px

  a
    font-size 12px
    float right
    overflow hidden
    margin 0
    border-width 0 5px
    padding 0 3px
    width auto
    height 30px
    line-height 30px
    -webkit-border-image url(../../images/greenButton.png) 0 5 0 5
    color #EEE
    margin -7px 10px 0 10px

      
#wrapper 
  position relative
  z-index 1
  width 100%
  overflow hidden

section .bottom 
  background-image -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222))
  
.bottom
  font-family inherit
  font-weight bold
  color #fff
  text-shadow rgba(0, 0, 0, 0.5) 0px -1px 0
  text-overflow ellipsis
  text-decoration none
  white-space nowrap
  background none
  text-shadow 1px 1px 1px #000

  
.bottom a
  font-size 12px
  float left
  overflow hidden
  margin 0
  border-width 0 5px
  padding 0 3px
  width auto
  height 30px
  line-height 30px
  -webkit-border-image url(../../images/button.png) 0 5 0 5
  color inherit
  margin-left 10px

.bottom a#reset
  top 8px
  right 6px
  